.section-story-overview {
    padding: 50px 0;
}

.section-story-overview .image-container {
    height: 335px;
    position: relative;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
}

.section-story-overview .image-container+.category {
    padding-top: 15px;
}

.section-story-overview .image-container.image-right {
    z-index: 2;
}

.section-story-overview .image-container.image-right+h3.title {
    margin-top: 120px;
}

.section-story-overview .image-container.image-left {
    z-index: 1;
}

.section-story-overview .image-container img {
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    position: absolute;
}

.section-story-overview .image-container:nth-child(2) {
    margin-top: 420px;
    margin-left: -105px;
}

.section-story-overview p.blockquote {
    width: 220px;
    min-height: 180px;
    text-align: left;
    position: absolute;
    top: 376px;
    right: 155px;
    z-index: 0;
}
//----------------------------------------------------------------
@media screen and (min-width: 768px) {
    .image-container.image-right {
        top: 80px;
        margin-left: -100px;
        margin-bottom: 130px;
    }
    .image-container.image-left {
        margin-right: -100px;
    }
}

@media screen and (max-width: 768px) {
    .image-container.image-left {
        margin-bottom: 260px;
    }
    .image-container.image-left p.blockquote {
        margin: 0 auto;
        position: relative;
        right: 0;
    }
    .header-2 .card-form-horizontal .input-group,
    .header-2 .card-form-horizontal .form-group {
        margin-bottom: 10px;
    }
    .contactus-2 .card-contact {
        max-width: inherit;
        margin: 0;
        margin-top: 15px;
    }
    .section-story-overview .image-container+.category {
        padding-top: 50px;
    }
    .features-7 .image-container img {
        left: 0px;
        top: 0;
        max-width: inherit;
        width: 100%;
        height: auto;
        position: relative;
    }
}
//---------------------------------------------------------------

.blockquote {
    border-left: none;
    border: 1px solid #888888;
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.8;
}

.blockquote small {
    color: #888888;
    font-size: 0.8571em;
    text-transform: uppercase;
}

.blockquote.blockquote-primary {
    border-color: #f96332;
    color: #f96332;
}

//-----------------------------------------------
.description,
.card-description,
.footer-big p {
    color: #9A9A9A;
    font-weight: 300;
}

.title {
    font-weight: 700;
    padding-top: 30px;
}