<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0"
        style="background-image: url(./assets/img/theme/fondo1.jpg);">
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="javascript:void(0)">
                                    <img src="./assets/img/theme/janier1.png" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                            <div class="card-profile-actions py-4 mt-lg-0">
                                <a href="https://www.youtube.com/channel/UCpTLFULk6sTWLG5055rcM8w/featured"
                                    class="btn btn-sm btn-danger mr-4">
                                    <i class="fa fa-youtube-play mr-1" aria-hidden="true"></i>Youtube</a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-success float-right">
                                    <i class="fa fa-whatsapp mr-1" aria-hidden="true"></i>Whatsapp</a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">22</span>
                                    <span class="description">Friends</span>
                                </div>
                                <div>
                                    <span class="heading">10</span>
                                    <span class="description">Photos</span>
                                </div>
                                <div>
                                    <span class="heading">89</span>
                                    <span class="description">Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <h3>Janier Dilan Rodriguez Camelo
                        </h3>
                        <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Evangelista Nacional</div>

                        <div><i class="ni education_hat mr-2"></i>Acerca de mi:</div>
                    </div>
                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <p>Janier Dilan Rodriguez Camelo, evangelista nacional, dedicado al servicio de Dios.
                                    Predicador incansable llevando el mensaje de esperanza aquellas personas que lo
                                    necesitan, mostrándoles el plan que Dios tiene para cada una de éllas. He predicado
                                    en más de 10 iglesias de Colombia y actualmente comparto el mensaje
                                    mediante las redes sociales.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Te sientes vació?</h2>
                    <h5 class="description">Pero cuantas cosas eran para mi ganancia, las he estimado como perdida
                        por amor a Cristo. Y ciertamente, aun estimo todas las cosas como perdida por amor de Cristo Jesus, mi Señor.
                        Por amor a el lo he perdido todo y lo tengo por basura, para ganar a Cristo.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Por que sol y escudo es Jehóva Dios;
                                gracia y gloría dara Jehóva.
                                no quitará el bien a los que andan en integridad."
                                <br>
                                <br>
                                <small>Salmos 84:12</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')">
                        </div>
                        <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and
                            that process will continue whatever happens with climate change. Even if the Arctic
                            continues to be one of the fastest-warming regions of the world, it will always be plunged
                            into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural
                            reasons, there’s huge variety of the state of the ice.
                        </p>
                        <p>
                            For a start, it does not automatically follow that a record amount of ice will melt this
                            summer. More important for determining the size of the annual thaw is the state of the
                            weather as the midnight sun approaches and temperatures rise. But over the more than 30
                            years of satellite records, scientists have observed a clear pattern of decline,
                            decade-by-decade.
                        </p>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and
                            that process will continue whatever happens with climate change. Even if the Arctic
                            continues to be one of the fastest-warming regions of the world, it will always be plunged
                            into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural
                            reasons, there’s huge variety of the state of the ice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>